@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
}
.jul{
    font-family: "Julius Sans One", sans-serif;
}
.phil{
    font-family: "Philosopher", sans-serif;
}

.avatar {
    position: relative;
  }
  
  .avatar-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0; /* Initially hide the name */
    transition: opacity 0.3s ease;
  }
  
  .avatar:hover .avatar-name {
    opacity: 1; /* Show the name on hover */
  }
  